<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Grid</title>
	<style>
		.grid {
			display: grid;
			gap: 2px;
		}
		.grid div {
			width: 40px;
			height: 40px;
		}
	</style>
</head>
<body>
<div class="slider-container">
	<input type="range" id="mySlider" min="0" th:max="${maxTime}" value="0">
	<span id="sliderValue">0</span>
</div>
<div class="grid" id="gr"></div>

<script th:inline="javascript">
	const count = [[${count}]];
	const colors = [[${colors}]];

	function createSquares() {
		var grid = document.getElementById('gr');
		grid.style.gridTemplateColumns = 'repeat(' + count + ', 40px)';
		for (var i = 0; i < count; i++) {
			for (var j = 0; j < count; j++) {
				var node = document.createElement("div");
				node.id = i + '-' + j;
				node.style.background = colors['0-' + i + '-' + j] ?? 'blue';
				grid.appendChild(node);
			}
		}
	}

	createSquares();

	const slider = document.getElementById("mySlider");
	const sliderValue = document.getElementById("sliderValue");

	slider.addEventListener("input", function () {
		sliderValue.textContent = slider.value;
		for (var y = 0; y < count; y++) {
			for (var x = 0; x < count; x++) {
				var node = document.getElementById(y + '-' + x);
				node.style.background = colors[slider.value + '-' + y + '-' + x] ?? 'blue';
			}
		}
	});
</script>
</body>
</html>